<p id="notice"><%= notice %></p>

<h1>
  <%= @joblist.company %>
</h1>

<div class="dai1">
<h2>会社概要</h2>
</div>

<div class="data1">
<p>
  <h3>設立年</h3>
  <%= @joblist.data1 %>
</p>


<p>
  <h3>正社員数</h3>
  <%= @joblist.data2 %>
</p>


<p>
  <h3>パート、契約社員数</h3>
  <%= @joblist.data3 %>
</p>

<p>
  <h3>男性社員数</h3>
  <%= @joblist.data4 %>
</p>

<p>
  <h3>女性社員数</h3>
  <%= @joblist.data5 %>
</p>

<p>
  <h3>資本金</h3>
  <%= @joblist.data6 %>
</p>

<p>
  <h3>業種</h3>
  <%= @joblist.data7 %>
</p>

<p>
  <h3>代表者</h3>
  <%= @joblist.data8 %>
</p>

<p>
  <h3>担当窓口</h3>
  <%= @joblist.data9 %>
</p>

<p>
  <h3>事業内容</h3>
  <%= @joblist.data10 %>
</p>

<p>
  <h3>離職率</h3>
  <%= @joblist.data11 %>
</p>

</div>

<div class="dai2">
<h2>社員インタビュー</h2>
</div>

<div class="data2">
<p>
  <h3>インタビュー者名</h3>
  <%= @joblist.data12 %>
</p>

<p>
  <h3>入社年</h3>
  <%= @joblist.data13 %>
</p>

<p>
  <h3>歳</h3>
  <%= @joblist.data14 %>
</p>

<p>
  <h3>入社のきっかけ</h3>
  <%= @joblist.data15 %>
</p>

<p>
  <h3>日常業務の内容</h3>
  <%= @joblist.data16 %>
</p>

<p>
  <h3>月平均残業時間</h3>
  <%= @joblist.data17 %>
</p>
</div>

<div class="dai3">
<h2>代表者からのメッセージ</h2>
</div>

<div class="data3">
<p>
  <h3>当社の強み</h3>
  <%= @joblist.data18 %>
</p>

<p>
  <h3>これからの会社目標</h3>
  <%= @joblist.data19 %>
</p>

<p>
  <h3>理想の社員</h3>
  <%= @joblist.data20 %>
</p>

<p>
  <h3>教育制度及び福利厚生</h3>
  <%= @joblist.data21 %>
</p>

<p>
  <h3>入社してくるみなさんに期待すること</h3>
  <%= @joblist.data22 %>
</p>

<p>
  <h3>社内イベント</h3>
  <%= @joblist.data23 %>
</p>

<p>
  <h3>必須質問</h3>
  <%= @joblist.data24 %>
</p>

<p>
  <h3>レポート後記</h3>
  <%= @joblist.data25 %>
</p>

<p>
  <h3>こんな感じの人事でした</h3>
  <%= @joblist.data26 %>
</p>

</div>
<!--
<%= link_to 'Edit', edit_joblist_path(@joblist) %> |
<%= link_to 'Back', joblists_path %>
-->